@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins',sans-serif;
}

.header{
    width: 100%;
	display: flex;
	color:#4287f5;
    background-color:#062640;
	
}
.text{
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    position: absolute;
    margin-left: 555px;
}
.img{
    margin-left: 1000px;
    margin-top: 18px;
    letter-spacing: 5px;
  }
.logo{
    width: 100px;
	height: 100px;
    margin-left: 35px;
    margin-top: 15px;
	border-radius: 40px;
	position: relative;
}
.committe{
    text-transform: capitalize;
    font-weight: 350;
    font-size: 40px;
    color: #ff9900;
}
.aboutus{
	text-transform: capitalize;
    font-weight: 450;
    font-size: 40px;
    color: #ff9900;
  }
.card h5{
    color: #ff9900;
}
.card{
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
}
.cards{
    margin-top: 15px;
}
.cards h5{
    font-weight: 550;
    padding-left: 15px;
    margin-top: 15px; 
}
.cards p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    padding-left: 10px;
}
.footer{
    width: 100%;
    height:50px;
    justify-content: space-between;
    background-color: #0b78a9;
    position: fixed;
    bottom: 0;
}
.social-links a{
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 2;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-left: 7px;
}
.social-links a i{
    line-height: 0;
  font-size: 16px;
}
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    margin-top: -70px;
  }
.footer .credits {
    text-align: center;
    font-size: 15px;
    color:white}